/*  your css code here. If applicable */
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Style for the navigation bar */
.container {
	background-color: #D3D3D3;
	padding: 10px;
}

/* Style for the list items */
.nav-list {
	display: flex;
	text-align: center;    /* Centers the list items horizontally */
}

.nav-item {
	display: inline;      /* Display list items horizontally */
	margin-right: 1rem;    /* Add margin to separate items */
}